{% extends "base.html" %}

{% block content %}

<div class ="row">
<div class ="container">
	

	{% load account %}
	{% load socialaccount %}
	
	<h1>Signed in as {% user_display user %}</h1>
	{% get_social_accounts user as accounts %}

	{% if accounts.facebook %}Logged into Facebook as {% for account in accounts.facebook %}
		{{ account.extra_data.username }}{% if not forloop.last %}, {% endif %}
	{% endfor %} {% endif %}

	<br /><br />


{% load checkins %}
{% get_checkins 5 user as checkins %}

{% if checkins %}
	
	<h3>Recent truck spots for {{ user }}</h3>
	
	{% for checkin in checkins %}
		{{ checkin.truck }} at {{ checkin.full_address }}<br />
	{% endfor %}



{% endif %}

</div><!-- end .container -->

</div><!-- end .row -->





{% endblock content %}